**/target
**/.settings
**/.project
**/.classpath
**/.DS_Store
**/*.pyc
**/*.pmd
**/*.fpr
**/*.ipr
**/*.iws
**/bin/
**/*.iml
**/.idea
**/.cache
**/.cache-main
**/Component-preload.js
**/node_modules
**/node_target
npm-debug.log*
**/*.sublime-project
**/*.sublime-workspace
**/derby.log
processes/.bpmn/